# Node.js
node_modules/
.env
dist/
build/

#Python
_ _pycache_ _/
*.py[cod]
*.env

#macos
.DS_Store

#VSCode
.vscode/

# Logs
logs/
*.log

#Figma exports
*.fig

# Firebase/Supabase
firebase-debug.log

# Web3
*.keystore
*.sol.js

# System files
Thumbs.db
.idea/

# React/Vite
*.cache
*.next
.next/
out/

# Ignore uploads or assets if needed
uploads/
public/assets/tmp/

# Ignore generated docs
docs/build/
